* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: linear-gradient(#775fe29a, #6ed1f0a1), url("./bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1 {
  font-size: 2.6rem;
  color: white;
}
li,
button,
label,
input,
p,
a {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}
header {
  color: white;
}
.m-head {
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  align-items: center;
}
.icon {
  flex: 1 1 10rem;
}

.nav-list {
  display: flex;
  flex: 4 1 90rem;
}
.nav-list ul {
  flex: 1 1 40rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lb {
  border-radius: 20px;
  color: #fff !important;
  font-size: 16px;
  outline: none;
  padding: 1.5rem 5rem;
  background: #f8f8f888;
  text-decoration: none !important;
  display: inline-block;
  margin: 5px;
}
.hero-section {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
}
.mokup {
  height: 90vh;
  width: 49vw;
}
.mc {
  width: 49vw;
  height: 90vh;
}

img {
  width: 37%;
  position: relative;
  top: 25%;
  left: 45%;
}

.hero-section .mc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-section .mc p {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.hero-section .mc h1 {
  font-size: 5rem;
}

.hero-section .mc a {
  border-radius: 20px;
  color: #fff !important;
  font-size: 16px;
  outline: none;
  padding: 1.5rem 5rem;
  background: #f8f8f888;
  text-decoration: none !important;
  display: inline-block;
}

footer {
  background: white;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: end;
  align-items: center;
  color: rgb(0, 0, 0);
}
span {
  font-size: 5rem;
  padding-bottom: 4rem;
}

footer p {
  color: #4d4ec9;
  font-size: 2.5rem;
}
